########################
# General
#

*.class
*.bin
*.log
*.pid
*.seed
*.lock
*.swp
*~
.DS_Store
Thumbs.db
.cache

/logs/
/log/
/temp/
/tmp/

hs_err_pid*

########################
# Build tool / IDE
#

*.iws
*.iml

.idea/
.idea_modules/
.vscode/
.bsp/
.lib/
.settings/

dist/
build/
out/
target/
node_modules/

project/boot/
project/project/
project/target/

########################
# Binary objects
#

*.jar
*.war
*.nar
*.ear
*.zip
*.7z
*.bz2
*.gz
*.tgz
*.tar
*.rar
*.iso

########################
