########################
# Misc
#

*.temp
*.tmp
*.bak
*.log
*.pid
*.seed
*.lock
*.swp
*~

.DS_Store
Thumbs.db
.cache
.env

/logs/
/log/
/temp/
/tmp/

hs_err_pid*
replay_pid*

########################
# Build tool / IDE
#

*.iws
*.iml
*.ipr

/.metadata
/.worksheet
/.project
/.classpath
/.loadpath
/.history

/.idea/
/.idea_modules/
/.vscode/
/.bsp/
/.lib/
/.settings/
/.target/

/bin/
/dist/
/build/
/out/
/target/
/node_modules/
/project/boot/
/project/project/
/project/target/

########################
# Binaries
#

*.class
*.pyc
*.bin
*.jar
*.war
*.nar
*.ear
*.sar
*.zip
*.7z
*.bz2
*.gz
*.tgz
*.tar
*.rar
*.iso

########################
